@font-face {
    font-family: "Rockness";
    src: url("../fonts/rockness/Rockness.ttf") format(ttf);
    src: url("../fonts/rockness/Rockness.otf") format(otf);
}

@font-face {
    font-family: "Chakra Petch";
    src: url("../fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-Italic.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-Light.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf") format(ttf);
    src: url("../fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf") format(ttf);
}

* {
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 800px;
}

/*========================================================HEADER===========================================================================*/

.header {
    border-bottom: 4px solid goldenrod;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.logoH {
    float: left;
    padding: 0px 30px;
}

.logoH h1 {
    color: goldenrod;
    font-family: 'Rockness';
    font-size: 50px;
}

nav ul {
    list-style-type: none;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    margin-top: 18px;
    float: right;
    text-align: center;
    width: 10%;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    padding: 9px 2px;
}

nav a:hover {
    color: gold;
    display: block;
    border-top: 4px solid goldenrod;
    border-right: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
    position: absolute;
    padding: 5px 30px 30px 30px;
    /*padding: top right bottom left*/
    border-radius: 5%;

}

/*========================================================ABOUT===========================================================================*/

.about_jiaby {
    padding-top: 50px;
    padding-bottom: 500px;
}

.about_jiaby h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
}

.about_right {
    float: right;
    border-left: 4px solid goldenrod;
    width: 69%;
    height: 500px;
    padding-left: 10px;
}

.about_right h1,
p {
    text-align: left;
    color: white;
    padding-top: 30px;
}

.about_right h1 {
    font-size: 50px;
}

.about_right p {
    font-size: 24px;
}

.about_left {
    float: left;
    padding-left: 50px;
    width: 25%;
}

.about_left img {
    border-radius: 2.5%;
    height: 500px;
}

/*BOUTTON*/

.download a {
    display: block;
    width: 200px;
    border: 2px solid goldenrod;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 3%;
    margin-left: 4%;
    color: #fff;
    transition: all 0.2s;
}

.download a:hover {
    color: black;
    background-color: goldenrod;
}

/*========================================================PROJET===========================================================================*/
.projet {
    clear: both;
}
.projet h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
}

.dino-card {
    border: 1px solid goldenrod;
    margin: 30px 40px;
    padding: 20px;
    border-radius: 4px;
}

.dino-avatar {
    max-width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #004e66;
    margin-right: 40px;
}

.dino-name {
    padding-bottom: 0;
    margin-bottom: 0;
}

.dino-button {
    display: block;
    width: 200px;
    border: 2px solid goldenrod;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 3%;
    margin-left: 4%;
    color: #fff;
    transition: all 0.2s;
}

.dino-button:hover {
    color: black;
    background-color: goldenrod;
}

.dino-card-footer {
    border-top: 2px solid goldenrod;
    margin-top: 20px;
    padding-top: 20px;
}

.food-item {
    display: inline-block;
    margin-right: 15px;
    color: goldenrod;
}

/* ---- Flexbox ---- */

.valley-content {
    flex-direction: column;
    flex: 1;
}

.dino-card {
    display: flex;
}

.dino-avatar {
    flex: 1;
}

.dino-info {
    flex: 2;
}

.dino-button {
    margin-top: auto;
    align-self: flex-start;
}

.dino-card-footer {
    justify-content: space-in-between;
}

.dino-card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dino-button {
    margin-left: auto;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

    .dino-card {
        margin-bottom: 20px;
    }

}

@media (min-width: 1025px) {}

/*========================================================CONTACT===========================================================================*/

.contact {
    clear: both;
    border: 2px solid blue;
    height: 100px;
}

/*========================================================FOOTER===========================================================================*/
.footer {
    clear: both;
    border: 2px solid violet;
    height: 100px;
}
